@page
@model BookingConfirmationModel

<!DOCTYPE html>
<html>
<head>
    <style>
    .side-bar   {
          position: fixed;
          top: 0;
          bottom: 0;
          width: 200px; /* Width of the side bar */
          background: url('https://cdn3.vectorstock.com/i/1000x1000/88/07/seamless-pattern-for-barbershop-black-background-vector-18098807.jpg') repeat-y center center;
          z-index: -1;
        }
        .side-bar.left {
          left: 0;
        }
        .side-bar.right {
          right: 0;
        }
    
    </style>
    <div class="side-bar left"></div>
                <div class="side-bar right"></div>
    <title>Booking Bekræftelse</title>
</head>
<body>
    <h1>Booking Bekræftelse</h1>

    @if (Model.Booking != null)
    {
        <div>
            <p><strong>Booking ID:</strong> @Model.Booking.BookingId</p>
            <p><strong>Date:</strong> @Model.Booking.Dato.ToString("yyyy-MM-dd")</p>
            <p><strong>Time:</strong> @Model.Booking.Tid</p>
            <p><strong>Service:</strong> @Model.Booking.Klip</p>
            <p><strong>Barber:</strong> @Model.Booking.Frisør</p>
            <!-- Include any other relevant booking details here -->
        </div>
    }
    else
    {
        <p>Desværre, Ingen Booking Her.</p>
    }
</body>
</html>
